.basic-info {
    font-style: italic;
}

.list {
    list-style: none;
}

.project {
    font-weight: bold;
}

.more-info {
    padding: 10px;
    border: 1px solid #b1b1b1;
}

.pic {
    width: 300px;
    height: 200px;
}

#card {
    padding: 20px;
    width: 300px;
    box-shadow: 10px 10px 5px 0px rgba(230, 230, 230, 1);
    border: 1px solid #b1b1b1;
}
